/*Footer-v3
------------------------------------*/
.footer-v3 .footer {
	padding: 40px 0;
	background: #252525;
	border-top: 5px solid #555;
}

.footer-v3 .thumb-headline h2 {
	color: #fff;
	line-height: 22px;
	margin-bottom: 10px;
}

.footer-v3 .footer p,
.footer-v3 .simple-list a {
	color: #bbb;
}

/*Copyright*/
.footer-v3 .copyright {
	padding: 10px 0;
	background: #222;
	border-top-color: #292929;
}

.footer-v3 .copyright p {
	color: #bbb;
	margin-top: 14px;
}

.footer-v3 .copyright .social-icons {
	margin-top: 10px;
}

@media (max-width: 992px) {
	.footer-v3 .copyright,
	.footer-v3 .copyright p,
	.footer-v3 .copyright ul {
		text-align: left;
	}
	
	.footer-v3 .copyright .social-icons.pull-right {
		float: inherit !important;
	}
}


/********************new-footer**************/


/*start follow us*/
	.follow_wrper{ margin-bottom: 20px; width: 100%; float: left; border-bottom: 2px solid #555;padding-bottom: 15px;}
	.follow_hed{display: inline-block; font-size: 20px; color: #fff;font-weight: bold;}
	.social_footer_ul {display: inline-block;padding: 0;margin: 0;float: right;list-style-type: none;}
	.social_footer_ul li { padding:0 15px 0 0; float:left; }
	.social_footer_ul li:last-child { padding-right:0px;  }
	.social_footer_ul li a { color: #fff;
    border: 1px solid #CCC;
    padding: 8px;
    width: 38px;
    display: block;
    border-radius: 100PX;
    height: 36px; text-align: center;}
	.social_footer_ul li a:hover{background: #3866c8;}
	.social_footer_ul li i {  text-align:center; font-size: 17px;}

	.social_footer_ul li a:hover.whtsapp {background:#20a83e;}	
	.social_footer_ul li a:hover.fc {background:#34558E;}
	.social_footer_ul li a:hover.tc {background:#25B8E6;}
	.social_footer_ul li a:hover.inc {background:#0077B5;}
	.social_footer_ul li a:hover.yc {background:#c4302b;}
	.social_footer_ul li a:hover.bc {background:#ff6600;}
	.social_footer_ul li a:hover.insta {background:#c22798;}



/*end follow us	*/

.footer-new-wrp{width: 100%;float: left; margin-bottom: 30px;}
.footer-new-box{width: 18.5%;float: left;margin: 0px  20px 0 0;}
.footer-new-box:last-child{ margin-right: 0px;}
.heading_nf{border-bottom: 1px solid #7b7b7b; color: #fefefe; font-size: 16px;font-weight: 600;line-height: 27px; padding: 0 0px 10px;}

ul.f_links {font-size: 13px;list-style-type: none;margin-left: 0;padding-left: 0; margin-top: 15px;color: #7F8C8D;}
ul.f_links li a {padding: 4px 0 4px 0;display: block;color: #afafaf;border-bottom: 1px solid #383737;
-webkit-transition: .3s all ease;-moz-transition: .3s all ease;transition: .3s all ease;}


ul.f_links li:hover a {padding: 4px 0 4px 5px;text-decoration: none;background: #212020;-webkit-transition: .3s all ease;-moz-transition: .3s all ease;transition: .3s all ease;}
.footer-v3 .thumb-headline h2{font-weight: 600;margin-bottom: 15px;padding-bottom: 10px;border-bottom: 1px solid #7b7b7b;}



/*footer center*/
.our_f_center { border-top: 1px solid #5f5f5f;border-bottom: 1px solid #5f5f5f;font-size: 14px;margin-top: 25px; width: 100%;padding-top: 10px; float: left; text-align: center;padding-bottom: 10px;}
.our_f_center ul{margin: 0px; padding: 0px;}
.our_f_center h3{color: #fff; font-size: 16px; font-weight: 600;}
.our_f_center li{ display: inline-block;color: #afafaf;}
.our_f_center li a{color: #afafaf;text-transform: capitalize;}

/*end*/


/*mobile navigation*/
#accordion6 {display: none;}
#accordion6.panel-group{margin-bottom: 40px;}
#accordion6 .panel{ border-bottom: 1px solid #565555!important; border: 0; box-shadow: none; background: none;}
#accordion6 .panel-heading{padding: 0;background: #fff;position: relative;}
#accordion6 .panel-title a{
display: block;
    padding: 5px 0 3px 0;
    border: none;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    position: relative;
    background: #252525;
}
#accordion6 .panel-title a:before,
#accordion6 .panel-title a.collapsed:before{
    content: "\f068";
    font-family: "FontAwesome";
   font-weight: 900;
    width: 20px;
    height: 20px;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0px;
    transition: all 0.5s ease 0s;
}
#accordion6 .panel-title a.collapsed:before{ content: "\f067"; }
#accordion6 .panel-body{padding: 6px;border: none;	font-size: 14px;background: #292929;line-height: 28px;}
ul.m_f_links {font-size: 13px;list-style-type: none;margin-left: 0;padding-left: 0; margin-top: 0px;color: #7F8C8D;    margin-bottom: 0;}
ul.m_f_links li a {padding: 4px 0 4px 0;display: block;color: #afafaf;border-bottom: 1px solid #383737;
-webkit-transition: .3s all ease;-moz-transition: .3s all ease;transition: .3s all ease;}
ul.m_f_links li:hover a {padding: 4px 0 4px 5px;text-decoration: none;background: #212020;-webkit-transition: .3s all ease;-moz-transition: .3s all ease;transition: .3s all ease;}

ul.m_f_links li a:last-child {border-bottom: 0px;}


/*mobile navigation end*/



/* start media query css for responsive*/

@media only screen and (max-width: 1024px){
	.footer-new-box {width: 18%;}	
}

@media only screen and (max-width: 768px){
	.footer-new-wrp{display: none;}
	#accordion6 {display: block;}
	.footer-new-box {width: 100%;margin: 0px 0;}
	.our_f_center li a {font-size: 15px; margin: 0 8px;}
}

@media only screen and (max-width: 767px){
	.footer-new-wrp{display: none;}
	#accordion6 {display: block;}
	.follow_hed {display: block;text-align: center;margin-bottom: 20px;}
	.social_footer_ul {display: block;float: none; margin: 0;text-align: center;}
	.social_footer_ul {display: block;float: none; margin: 0;text-align: center;}
	.social_footer_ul li {padding: 0 15px 0 0; float: none; display: inline-block;}
}

/* start media query css for responsive*/





