<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

  <div style="background-color: #21d192;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->


      </div>
      <!-- Grid row-->
      <html>
<head>
<title>Font Awesome Icons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<h1>Social networking sites</h1>

<i class="fa fa-instagram" style="font-size:48px;color:red"></i>
<i class="fa fa-facebook-square" style="font-size:48px;color:red"></i>
<i class="fa fa-github" style="font-size:48px;color:red"></i>
<i class="fa fa-skype" style="font-size:48px;color:red"></i>
<i class="fa fa-whatsapp" style="font-size:48px;color:red"></i>
<br>


<p>Unicode:</p>
<i style="font-size:24px" class="fa">&#xf16d;</i>
<i style="font-size:24px" class="fa">&#xf082;</i>
<i style="font-size:24px" class="fa">&#xf09b;</i>
<i style="font-size:24px" class="fa">&#xf17e;</i>
<i style="font-size:24px" class="fa">&#xf232;</i>


</body>
</html>

    </div>
  </div>



  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Young Minds Coaching Institute</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Offline Classroom Coaching <br>
           Live Online Coaching <br>
           Table/Pendrive/SD Card/Online Recorded Courses<br>
           Online Video Lectures<br>
           Coaching system
           </p>

      </div>


      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> India, Telangana, IND</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> youngminds2000@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 91 234 567 88</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 91 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2021 Copyright:
    <a class="dark-grey-text" href="https://mdbootstrap.com/"> youngminds.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
