<h1>Fee structure</h1>
<html>
<style>
table, th, td {
  border:2px solid black;
}
</style>
<body>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Amount</th>
    <th>Certificate</th>
  </tr>
    <tr>
    <td>Modern JavaScript</td>
    <td>March to August</td>
    <td>4000Rs/month</td>
    <td>Issued</td>
  </tr>
  <tr>
    <td>Python and dJango</td>
    <td>June to November</td>
    <td>4200Rs/month</td>
    <td>issued</td>
  </tr>
    <tr>
    <td>.Net MVC</td>
    <td>January to June</td>
    <td>4000Rs/month</td>
    <td>Issued</td>
  </tr>
  <tr>
    <td>Learn and Understand Nodejs</td>
    <td>November to April</td>
    <td>3500Rs/month</td>
    <td>issued</td>
  </tr>
  <tr>
    <td>Boostrap 5</td>
    <td>September to March</td>
    <td>3500Rs/month</td>
    <td>issued</td>
  </tr>


</table>

</body>
</html>
