<html>
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   <body>
      <h1>Welcome to example.com, <%= @user.name %></h1>
      <p>
         You have successfully submitted contact form up to us. 
      </p>
      <p>Thanks for querying and have a great day!</p>   
   </body>
</html>
